.overflow {
  &-hidden {
    overflow: hidden;
  }

  &-x-hidden {
    overflow-x: hidden;
  }

  &-y-hidden {
    overflow-y: hidden;
  }
}

.position {
  &-absolute {
    position: absolute;
  }

  &-fixed {
    position: fixed;
  }

  &-relative {
    position: relative;
  }
}

.fill-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover-parent {
  position: absolute;
  top: 50%;
  left: 50%;

  overflow: hidden;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;

  transform: translate3d(-50%, -50%, 0);
}

.center-block {
  display: block;
  margin: 0 auto;
}

.truncate {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.break-words {
  word-wrap: break-word;
}

.text-align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.v-aligner {
  display: flex;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.text-stone-sans {
  font-family: $stone-sans;
}
