$namespace: '';
$base-spacing-unit: 20px;

$wrapper-width: 1920px;
$wrapper-gutter: $base-spacing-unit;

$push: $base-spacing-unit;

// $enable-layout--tiny: true;
// $enable-layout--small: true;
// $enable-layout--large: true;
// $enable-layout--huge: true;
// $enable-layout--flush: true;
// $enable-layout--rev: true;
// $enable-layout--middle: true;
// $enable-layout--bottom: true;
// $enable-layout--right: true;
// $enable-layout--center: true;
// $enable-layout--auto: true;
