.clearfix::after {
  clear: both;

  display: table;

  content: '';
}

.hidden {
  display: none;

  @each $name, $query in $breakpoints {

    @media #{$query} {
      &-#{$name} {
        display: none;
      }
    }
  }
}

.push {
  margin-bottom: $push;

  &--1\/2 {
    margin-bottom: $push * 0.5;
  }

  &--2x {
    margin-bottom: $push * 2;
  }
}

.full-width,
.full-size {
  width: 100%;
}

.full-height,
.full-size {
  height: 100%;
}
